.carrebas {
    color: white;
    width: auto;
    height: 50px;
    background-color: #333;
    text-align: center;
}

body {
    background-color: #ddd9d8;
}

img{
    width: 100%;
    height: auto;
}

.logo {
        width: 50%;
        height: auto;
}

h1, h2, h3{
    text-align: center;
}

.squircle1, .squircle2, .squircle3, .squircle4 {
    width: 230px;
    height: 250px;
    background-color: #f5683b;
    border-radius: 5%;
    margin: 10px;
}

.squircles {
    display: flex;
    justify-content: space-around;
}