body {
    background-color: #94D1BE;
}

button {
    height: auto;
    width: auto;
}

.KévinPic {
    width: auto;
    height: 150px;
}

/*#horloge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}*/